<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Fresh Finder | Analysis</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
</head>
<body>
    <!--Mobile-->
    <input type="checkbox" id="menu">
    <!--Mobile-->
    <header>
        <div class="logo">
            <img src="/imgs/Globe_logo.png" alt="Globe Logo">
            <h1>NYC Fresh Finder</h1>
        </div>

        <!--Mobile-->
        <label for="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <!--Mobile-->
        <nav>
            <a href="/">Home</a>
            <a href="/map">Map</a>
            <a href="/analysis">Analysis</a>
            <a href="/compare">Compare</a>
            <a href="/resources">Resources</a>
        </nav>
    </header>

    <main class="analysis">
        <section class="text">
            <h1>Interactive Heat Map</h1>
            <h3>
                Explore the interactive map to identify 
                food deserts and understand their impact 
                on the community.
            </h3>
        </section>

        <section class="map-section">
            <div id="heatmap" style="height: 500px; width: 100%;"></div>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 NYC Fresh Finder</p>
    </footer>
</body>
</html>