<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Fresh Finder | Compare</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <!--Mobile-->
    <input type="checkbox" id="menu">
    <!--Mobile-->
    <header>
        <div class="logo">
            <img src="/imgs/Globe_logo.png" alt="Globe Logo">
            <h1>NYC Fresh Finder</h1>
        </div>

        <!--Mobile-->
        <label for="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <!--Mobile-->
        <nav>
            <a href="/">Home</a>
            <a href="/map">Map</a>
            <a href="/analysis">Analysis</a>
            <a href="/compare">Compare</a>
            <a href="/resources">Resources</a>
        </nav>
    </header>

    <main>
        <section class="search">
            <form>
                <div class="searchbar">
                    <img src="imgs/search.svg">
                    <input class="search-input" type="search" placeholder="Search for a food item...">
                </div>
            </form>
        </section>

        <section class="items">
            <div class="box">
                <h2>Title</h2>

                <ul>
                    <li>Nutrition</li>
                    <li>Price</li>
                    <li>Location</li>
                </ul>

                <button>Add</button>
            </div>
            <div class="box">
                <h2>Title</h2>

                <ul>
                    <li>Nutrition</li>
                    <li>Price</li>
                    <li>Location</li>
                </ul>

                <button>Add</button>
            </div>
            <div class="box">
                <h2>Title</h2>

                <ul>
                    <li>Nutrition</li>
                    <li>Price</li>
                    <li>Location</li>
                </ul>

                <button>Add</button>
            </div>
            <div class="box">
                <h2>Title</h2>

                <ul>
                    <li>Nutrition</li>
                    <li>Price</li>
                    <li>Location</li>
                </ul>

                <button>Add</button>
            </div>
            <div class="box">
                <h2>Title</h2>

                <ul>
                    <li>Nutrition</li>
                    <li>Price</li>
                    <li>Location</li>
                </ul>

                <button>Add</button>
            </div>
            <div class="box">
                <h2>Title</h2>

                <ul>
                    <li>Nutrition</li>
                    <li>Price</li>
                    <li>Location</li>
                </ul>

                <button>Add</button>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 NYC Fresh Finder</p>
    </footer>
</body>
</html>