<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Fresh Finder</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <!--Mobile-->
    <input type="checkbox" id="menu">
    <!--Mobile-->
    <header>
        <div class="logo">
            <img src="/imgs/Globe_logo.png" alt="Globe Logo">
            <h1>NYC Fresh Finder</h1>
        </div>

        <!--Mobile-->
        <label for="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <!--Mobile-->
        <nav>
            <a href="/">Home</a>
            <a href="/map">Map</a>
            <a href="/analysis">Analysis</a>
            <a href="/compare">Compare</a>
            <a href="/resources">Resources</a>
        </nav>
    </header>

    <div id="message" class="alert fail">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>

    <!-- <div class="alert fail">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Login failed. Your email or password is incorrect. Please try again.
    </div>
    <div class="alert success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Login success. &#10003;
    </div> -->

    <section id="home">
        <div class="text-container">
            <div class="text">
                <h1>Welcome to <br><span class="title">NYC Fresh Finder</span></h1>
                <h2>Find nearby food resources and assistance programs <br> easily and effectively for your community.</h2>
            </div>
            <button id="open-popup" class="start" onclick="openPopup()">Get Started</button>
        </div>
        <div class="image-container">
            <img src="/imgs/guyandgirl.svg">
        </div>
    </section>

    <section class="strap">
        <h2>Making Healthy Food More Accessible in NYC</h2>
    </section>
    
    <footer>
        <p>&copy; 2025 NYC Fresh Finder</p>
    </footer>

    <input type="checkbox" id="popup-toggle" class="popup-toggle">
    <div class="popup">
        <div class="popup__content">
            <span class="popup__close" onclick="closePopup()">&times;</span>
            <form class="form form--login form--active" id="loginForm" >
                <h2>Login</h2>
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <span class="form__toggle" onclick="redirectSignUp(this)">Forgot Password?</span>
                <button type="submit">Login</button>
                <p>Don't have an account? <span class="form__toggle" onclick="redirectSignUp(this)">Sign Up</span></p>
            </form>
            <form action="/api/new_user" method="post" class="form form--signup" id="signupForm">
                <h2>Sign Up</h2>
                <input type="email" placeholder="Email" name="email">
                <input type="text" placeholder = "Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input autocomplete="postal-code" type="text" placeholder="Zip Code" name="zip_code">
                <!-- <div class="captcha-container">
                    <img src="/api/captcha" alt="CAPTCHA" id="captcha-image">
                    <button type="button" onclick="refreshCaptcha()">Refresh</button>
                </div>
                <input type="text" name="captcha" placeholder="Enter the text shown above" required> -->

                <button>Register</button>
                <p>Already have an account? <span class="form__toggle" onclick="redirectSignUp(this)">Login</span></p>
            </form>
            <form action="/api/request_new_password" method="POST" class="form form--forgot-password">
                <h2>Sign Up</h2>
                <input type="email" placeholder="Email" name="email">
                <input type="text" placeholder = "Username" name="username">
                <input autocomplete="postal-code" type="text" placeholder="Zip Code" name="zip_code">
                <!-- <div class="captcha-container">
                    <img src="/api/captcha" alt="CAPTCHA" id="captcha-image">
                    <button type="button" onclick="refreshCaptcha()">Refresh</button>
                </div>
                <input type="text" name="captcha" placeholder="Enter the text shown above" required> -->

                <button>Request</button>
                <p><span class="form__toggle" onclick="redirectSignUp(this)">Login</span></p>
            </form>
            
        </div>
    </div>
</body>
</html>