<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Fresh Finder | Resources</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <!--Mobile-->
    <input type="checkbox" id="menu">
    <!--Mobile-->
    <header>
        <div class="logo">
            <img src="/imgs/Globe_logo.png" alt="Globe Logo">
            <h1>NYC Fresh Finder</h1>
        </div>

        <!--Mobile-->
        <label for="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <!--Mobile-->
        <nav>
            <a href="/">Home</a>
            <a href="/map">Map</a>
            <a href="/analysis">Analysis</a>
            <a href="/compare">Compare</a>
            <a href="/resources">Resources</a>
        </nav>
    </header>

    <main>
        <section class="resources">
            <section class="text">
                <h1>Community Resources</h1>
                <h3>Find local food initiatives and assistance programs (gardens, free-meal programs) to support your community's access to nutritious food options.</h3>
            </section>
        </section>

        <section class="links">
            <div class="title">
                <h1>Links</h1>
                <h3>Connect to essential food assistance programs like SNAP, WIC, and more.</h3>
            </div>
            <div class="images">
                <a href="https://www.nyc.gov/site/hra/help/snap-benefits-food-program.page" target="_blank"><img src="/imgs/snap.png"></a>
                <a href="https://www.health.ny.gov/prevention/nutrition/wic/" target="_blank"><img src="/imgs/wic.png"></a>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 NYC Fresh Finder</p>
    </footer>
</body>
</html>