@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    transition: 0.5s;
    color: #4A4A4A;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: rgb(181,238,204);
    background: linear-gradient(180deg, rgba(181,238,204,1) 0%, rgba(167,236,161,1) 100%);
}

h1 {
    color: black;
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 300;
}

header {
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    position: relative;
    width:100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
    z-index: 100;
    transition: 0.15s;
    top: 0;
}

.logo {
    display:flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
}

.logo h1 {
    color: #3993DD;
    font-size: 35px;
    font-weight: 650;
}

nav {
    display: flex;
    gap:75px;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 650;
    transition: 0.5s;
}

nav a:hover {
    color: #3993DD;
}

input {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        position: absolute;
        top: 100px;
        background: rgba(255, 255, 255, 0.9);
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    nav a:nth-child(1) {
        margin-top: 50px;
    }

    label {
        width: 45px;
        height:30px;
        cursor: pointer;
        position: relative;
    }

    label div {
        width: 100%;
        height: 5px;
        background: #4A4A4A;
        position: absolute;
        transform: translateY(-50%);
        border-radius: 99px;
        transition: 0.3s;
        transform: scale(1);
    }

    label div:nth-child(1) {
        top: 0;
    }
    label div:nth-child(2) {
        top: 50%;
    }
    label div:nth-child(3) {
        top: 100%;
    }

    input:checked + header nav {
        height: 100vh;
    }
    input:checked + header label div:nth-child(1) {
        transform: rotate(45deg);
        top:50%;
    }
    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top:50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }
}






#home {
    height: 90vh;
    bottom: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 75px;

    position: relative;
}

.text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1 {
    font-size: 100px;
}

.text h2 {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
    margin-right: 100px;
}

.start{
    background: #ec6b4a;
    color: white;

    font-size: 24px;
    padding: 15px 30px;

    border: none;
    border-radius: 99px;

    cursor: pointer;
    transition: 0.5s;

    /* top, right, bottom, left */
    margin: 25px 100px 0px 0;
}

.image-container {
    width: 40%;
    height: 100%;

    padding-top: 100px;
    padding-bottom: 100px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 65%;
    object-fit: cover;
}

.text span {
    color: #3993DD;
    letter-spacing: 5px;
    font-size: 110px;
}






.strap {
    background: rgba(57, 147, 221, 0.5);

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    padding: 10px 0;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strap h2 {
    color: white;
    font-size: 48px;;
}







